.table-item {
    display: flex;
    justify-content: space-between;
}

.segmentation-item-wrapper {
    display: flex;
    margin-bottom: 10px;
}

.segmentation-item-wrapper .edit-segmentation-btn {
    width: 40px;
    padding: 5px;
    text-align: center;
    border-left: thin solid #a2a2a2;
    border-bottom: thin solid #a2a2a2;
    border-top: thin solid #a2a2a2;
}

.segmentation-item-wrapper .route-code {
    border: thin solid #a2a2a2;
    padding: 5px;
    flex: 1;
    cursor: pointer;
    text-align: center;
}

/* sos box */

.sos-box {
    position: absolute;
    bottom: 0;
    left: 4px;
    right: 4px;
    height: 30px;
    background: #8c8c8c;
    opacity: 0.9;
    transition-property: height;
    transition-duration: 0.5s;
}

.sos-box:hover {
    height: 300px;
}

.sos-box .pin-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 15px;
}

.sos-box.active {
    height: 300px;
}

.sos-box.active .pin-icon {
    color: #47f28f;
}

/* list car */
/* .car-stt .ant-table-cell {
  padding: 00 !important;
  border: none !important;
  cursor: pointer;
}

.car-stt .ant-table-cell .car-item:hover{
  background-color: grey !important;
}

/* list car table */
/* .tableFixHead {
	border-collapse: collapse;
	width: 1000px;
	table-layout: fixed;
  border: 1px solid black;
  border-collapse: collapse;
}
.tableFixHead  .row-car-td,.row-car-th {
  min-width: 200px;
}
.tableFixHead .row-car-td{
  border-top: 1px solid black;
  border-collapse: collapse;
}
.tableFixHead tbody .row-car-tr .row-car-td:hover{
  background-color: #888 !important;
}
.tableFixHead thead tr {
	background: #888;
	color: #eee;
	display: block;
  position: relative;
}
.tableFixHead tbody {
	display: block;
	height: 200px;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
} */

.car-stt {
    width: 100% !important;
    font-size: 18px;
    text-align: center;
    margin: auto;
    margin-top: 0px;
    width: fit-content;
    height: fit-content;
}

.car-stt > div:hover:first-child {
    width: 100% !important;
    font-size: 18px;
    text-align: center;
    margin: auto;
    margin-top: 0px;
    background-color: white !important;
    color: black !important;
}
